USE [master]
GO
/****** Object:  Database [BarDB]    Script Date: 29.10.2022 11:41:44 ******/
CREATE DATABASE [BarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BarDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\BarDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BarDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\BarDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BarDB]
GO
USE [BarDB]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[AlcoholStrength] [float] NULL,
	[ReciepID] [int] NULL,
	[ServingSize] [int] NULL,
	[ServingJug] [int] NULL,
 CONSTRAINT [PK_Drinks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrinksRecieps]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrinksRecieps](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DrinkID] [int] NULL,
	[StorageID] [int] NULL,
	[Count] [float] NULL,
	[Measure] [nchar](10) NULL,
 CONSTRAINT [PK_DrinksRecieps] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Birthday] [datetime] NULL,
	[Post] [int] NULL,
	[MoveInfo] [int] NULL,
 CONSTRAINT [PK_Employees_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesMoveInfo]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesMoveInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Post] [int] NULL,
	[Reason] [nvarchar](50) NULL,
	[OrderNum] [int] NULL,
	[OrderDate] [datetime] NULL,
 CONSTRAINT [PK_EmployeesMoveInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugs]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Size] [int] NULL,
 CONSTRAINT [PK_Jugs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalUsers]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[LastEnterDate] [datetime] NULL,
	[AccountType] [char](1) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Post] [nvarchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Posts_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceList]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Price] [decimal](6, 2) NULL,
 CONSTRAINT [PK_PriceList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Snacks]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Snacks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Reciepe] [int] NULL,
	[ServingSize] [int] NULL,
 CONSTRAINT [PK_Snacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SnacksRecieps]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SnacksRecieps](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SnackID] [int] NULL,
	[Count] [float] NULL,
	[Measure] [nchar](10) NULL,
	[StorageID] [int] NULL,
 CONSTRAINT [PK_SnacksRecieps] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strorage]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strorage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TitleProduct] [nvarchar](50) NULL,
	[Count] [float] NULL,
	[Measure] [nchar](10) NULL,
 CONSTRAINT [PK_Strorage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nchar](11) NULL,
	[Fax] [nchar](11) NULL,
	[Email] [nvarchar](50) NULL,
	[BankTitle] [nchar](10) NULL,
	[Town] [nvarchar](50) NULL,
	[INN] [nvarchar](50) NULL,
	[BankBill] [nvarchar](50) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuppliersProducts]    Script Date: 29.10.2022 11:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuppliersProducts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Price] [decimal](9, 2) NULL,
	[DeployTerms] [nvarchar](50) NULL,
	[PayTerms] [nvarchar](50) NULL,
 CONSTRAINT [PK_SuppliersProducts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD  CONSTRAINT [FK_Drinks_Jugs] FOREIGN KEY([ServingJug])
REFERENCES [dbo].[Jugs] ([ID])
GO
ALTER TABLE [dbo].[Drinks] CHECK CONSTRAINT [FK_Drinks_Jugs]
GO
ALTER TABLE [dbo].[DrinksRecieps]  WITH CHECK ADD  CONSTRAINT [FK_DrinksRecieps_Drinks] FOREIGN KEY([DrinkID])
REFERENCES [dbo].[Drinks] ([ID])
GO
ALTER TABLE [dbo].[DrinksRecieps] CHECK CONSTRAINT [FK_DrinksRecieps_Drinks]
GO
ALTER TABLE [dbo].[DrinksRecieps]  WITH CHECK ADD  CONSTRAINT [FK_DrinksRecieps_Strorage] FOREIGN KEY([StorageID])
REFERENCES [dbo].[Strorage] ([ID])
GO
ALTER TABLE [dbo].[DrinksRecieps] CHECK CONSTRAINT [FK_DrinksRecieps_Strorage]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_EmployeesMoveInfo] FOREIGN KEY([MoveInfo])
REFERENCES [dbo].[EmployeesMoveInfo] ([ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_EmployeesMoveInfo]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Posts] FOREIGN KEY([Post])
REFERENCES [dbo].[Posts] ([ID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Posts]
GO
ALTER TABLE [dbo].[EmployeesMoveInfo]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesMoveInfo_Posts] FOREIGN KEY([Post])
REFERENCES [dbo].[Posts] ([ID])
GO
ALTER TABLE [dbo].[EmployeesMoveInfo] CHECK CONSTRAINT [FK_EmployeesMoveInfo_Posts]
GO
ALTER TABLE [dbo].[Snacks]  WITH CHECK ADD  CONSTRAINT [FK_Snacks_SnacksRecieps] FOREIGN KEY([Reciepe])
REFERENCES [dbo].[SnacksRecieps] ([ID])
GO
ALTER TABLE [dbo].[Snacks] CHECK CONSTRAINT [FK_Snacks_SnacksRecieps]
GO
ALTER TABLE [dbo].[SnacksRecieps]  WITH CHECK ADD  CONSTRAINT [FK_SnacksRecieps_Snacks] FOREIGN KEY([SnackID])
REFERENCES [dbo].[Snacks] ([ID])
GO
ALTER TABLE [dbo].[SnacksRecieps] CHECK CONSTRAINT [FK_SnacksRecieps_Snacks]
GO
ALTER TABLE [dbo].[SnacksRecieps]  WITH CHECK ADD  CONSTRAINT [FK_SnacksRecieps_Strorage] FOREIGN KEY([StorageID])
REFERENCES [dbo].[Strorage] ([ID])
GO
ALTER TABLE [dbo].[SnacksRecieps] CHECK CONSTRAINT [FK_SnacksRecieps_Strorage]
GO
ALTER TABLE [dbo].[SuppliersProducts]  WITH CHECK ADD  CONSTRAINT [FK_SuppliersProducts_Suppliers] FOREIGN KEY([ID])
REFERENCES [dbo].[Suppliers] ([ID])
GO
ALTER TABLE [dbo].[SuppliersProducts] CHECK CONSTRAINT [FK_SuppliersProducts_Suppliers]
GO
USE [master]
GO
